<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Jobs List</h2>
<table id="jobs-table" style="border: 2px solid #000">
  <tr id="jobs-table-header" style="border: 2px solid #000">
    <th>Company</th>
    <th>Position</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>
  <% if (job) { %>
      <tr>
      <form method="POST" action="/jobs/update/<%= job.id %>" style="display: inline">
        <td><input type="text" id="name" name="company" value="<%= job.company %>"></td>
        <td><input type="text" id="position" name="position" value="<%= job.position %>"></td>
        <td>
          <select id="status" name="status" value="<%= job.status %>">
              <option value="pending" >pending</option>
              <option value="interview">interview</option>
              <option value="declined" >declined</option>
          </select>
        </td>
        <td>
          <button>edit</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </td>
                  </form>
        <td>
          <form method="POST" action="/jobs/delete/<%= job.id %>" style="display: inline">
            <button>delete</button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" /><br /> 
          </form>
        </td>
      </tr>
  <% } else { %>
    <tr>
      <form method="POST" action="/jobs" style="display: inline">
        <td><input type="text" id="name" name="company"></td>
        <td><input type="text" id="position" name="position"></td>
        <td>
          <select id="status" name="status">
              <option value="pending">pending</option>
              <option value="interview">interview</option>
              <option value="declined">declined</option>
          </select>
        </td>
        <td>
          <button>add</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </td>
      </form>
      </tr>
  <% } %>
 
</table>
<a href="/jobs" >
    <button type="button" style="margin: 5px 0px">Back to Jobs</button>
</a>
<%- include("partials/footer.ejs") %>