<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
        <p>The secret word is: <%= secretWord %>
        </p>
        <p>Would you like to change it?</p>
        <form method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <label name="secretWord"></label>
            <input name="secretWord" /><br />
            <button>Submit</button>
        </form>
        <a href="/" >
            <button type="button" style="margin:5px 0px">Back to Main</button>
        </a> 
<%- include("partials/footer.ejs") %>